TESLA_CLIENT_ID=
TESLA_CLIENT_SECRET=
TESLA_CONNECT_SECRET=choose-a-long-random-secret-here
TESLA_REDIRECT_URI=
TESLA_FLEET_AUDIENCE=https://fleet-api.prd.eu.vn.cloud.tesla.com
TESLA_DOMAIN=wallerstedt.live
